{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Востановление пароля{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4" style="margin-top: 50px; margin-bottom: 300px;">
        <h3 class="text-center">Восстановление пароля</h3>
        <p class="text-center">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p class="text-center"><input type="submit" class="btn btn-success" value="Восстановить мой пароль"></p>
        </form>
    </div>
</div>
{% endblock content %}
