{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Введите новый пароль{% endblock title %}

{% block content %}

{% if validlink %}

<div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top: 50px; margin-bottom: 300px;">
        <h3 class="text-center">Изменение пароля</h3>
        <p class="text-center">Пожалуйста, введите свой новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p class="text-center"><input type="submit" value="Изменить мой пароль" class="btn btn-success"></p>
        </form>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-md-8 offset-md-2" style="margin-top: 50px; margin-bottom: 300px;">
        <p class="text-center">Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля.</p>
    </div>
</div>

{% endif %}

{% endblock content %}
