{% extends 'base.html' %}

{% block title %}Как подобрать размер одежды?{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active">О нас</li>
        </ul>
    </div>
</div>

<div class="container info-container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">О нас</h1>
            <p class="text-center"><b>Мы рады ВАС приветствовать в интернет-магазине одежды DwsShop!</b></p>

            <p>
                Пожаловав к нам, Вы обязательно подберете что-то по собственному вкусу,
                ознакомитесь с лучшими нарядами для самых разнообразных случаев и приятно удивитесь качеству предоставленной продукции.
                Ассортимент состоит из одежды украинских производителей!
                Так же мы предлагаем облегчить шопинг и сделать покупки в нашем магазине легкими, быстрыми и приятными,
                поэтому Вы можете купить одежду в DwsShop в пару кликов, выбрать нужный цвет и размер, после чего формить и оплатить заказ.
            </p>

            <p>
                В нашем магазине Вы найдете широкий ассортимент, как мужской так и женской одежды,
                одежды для подростков и детей. Именно эти вещи помогут создать идеальный образ для всей ВАШЕЙ семьи!
            </p>
            <p>
                <b>Гарантия качества.</b> Мы работаем с проверенными поставщиками и производителями украинской одежды.
                В нашем магазине Вы сможете найти качественные куртки, джинсы, платья, блузы, брюки, и др.
                Вас порадует правильное соотношение цены и качества!
            </p>
            <p>
                <b>Удобный поиск товара.</b> Чтобы найти нужный товар, не нужно прикладывать дополнительных усилий,
                можно просто попробовать вбить нужное слово в поиск или воспользоваться уже заранее подготовленными категориями.
                Дополнительные фильтры на странице помогут отсортировать предметы по Вашему личному желанию и преобразить
                ее общий вид в более удобный для восприятия.
            </p>
            <p>
                <b>Быстрая оплата и доставка.</b> доставка посылки производиться в отделение транспортной компании ("Новая Почта").
                Рассчитаться можно при помощи банковской карты Visa, MasterCard в платёжном сервисе LiqPay/Приват24.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
