{% extends 'base.html' %}

{% block title %}Как подобрать размер одежды?{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active">Как подобрать размер одежды?</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Как подобрать размер одежды в нашем интернет-магазине</h1>
            <br>

            <p>
                Боитесь покупать в интернет-магазине, потому что не уверены, что правильно подберете размер?
                Потратьте пару минут вашего времени и вы с легкостью сможете подобрать себе нужный размер.
            </p>
            <br>

            <p>
                Чтобы вам было проще определиться с размером, мы добавляем таблицу замеров для каждой модели.
            </p>
            <br>

            <p>
                Все, что вам нужно - это снять замеры с подходящей вам одежды и сравнить с нашими замерами.
            </p>
            <br>

            <p>Как не ошибиться?</p>
            <ol>
                <li> Сравнивайте равноценную одежду. Не стоит покупать облегающую водолазку, ориентируясь на размер вашего любимого оверсайз свитера.</li>
                <li>
                    Если вы выбираете изделие из трикотажной ткани, помните, что замеры,
                    представленные в таблице, сделаны в спокойном состоянии (не растянутом), поэтому нужно учитывать,
                    что ткань потянется на несколько сантиметров. Насколько сильно ткань растяжима, можно определить по составу ткани.
                    Например, чем больше хлопка в составе, тем менее она растяжима.
                </li>
                <li>
                    Если вы покупаете верхнюю одежду, нужно учитывать, что на свободное облегание уходит около 5 сантиметров,
                    поэтому, делая замеры, лучше отступить на 1 сантиметр от каждого конца изделия в полуобхвате груди.
                </li>
                <li>
                    Выбирая джинсы или брюки, кроме полуобхвата пояса и бедер, нужно учитывать также длину,
                    так как в разных моделях она может отличаться. Благодаря замерам длины вы сможете определить,
                    как именно они будут на вас выглядеть, будут ли они короткие или длинные.
                    Можно выбирать брюки длиннее - затем вы сможете их подкоротить до нужной длины.
                </li>
                <li>
                    Разложите изделие на ровной поверхности, застегнув все пуговицы, молнии.
                    Следите, чтобы на одежде в этот момент не было складок. Сантиметровая лента должна плотно прилегать по линии измерения,
                    не провисая и чрезмерно не натягиваясь.
                </li>
                <li>При осуществлении замеров полуобхвата рекомендуется отступить 2-3 мм от начальной и конечной точки замеров.</li>
            </ol>
            <br>

            <h2 class="text-center">КАК ДЕЛАТЬ ЗАМЕРЫ ЖЕНСКОЙ ОДЕЖДЫ</h2>
            <br>
            <p>Рубашки, футболки, свитера, платья</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>A</td>
                        <td>
                            Ширина плеч. Измерения проводятся по плечевому поясу изделия от крайней точки левого плеча,
                            до крайней точки правого плеча. Исключениями являются изделия с рукавом реглан или с приспущенным плечом.
                            В таких случаях ширина плеч не замеряется. Начинайте делать замер, отступив от шва 2-3 мм .
                        </td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>
                            Полуобхват груди. Измерения проводятся по лицевой стороне изделия от левого конца до правого конца изделия.
                            Важно отступить вниз 2-3 сантиметра от нижней точки соединения рукава с изделием. Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>
                            Длина рукава. Измерения проводятся по внешней стороне рукава от плечевого шва до окончания рукава.
                            Исключениями являются изделия с рукавом реглан, замер проводят от верхней точки плеча(воротник)
                            до самого конца рукава. Как правило на ширину плеча уходит ¼ длины рукава.
                        </td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>
                            Длина изделия. Измерения проводятся на лицевой стороне, от плечевого шва до низа изделия.
                        </td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>
                            Полуобхват пояса. Измерения проводятся непосредственно по линии пояса.
                            Измеряем от самой крайней левой точки до самой крайней правой точки линии пояса. Обратите внимание также,
                            что лицевая часть пояса будет ниже задней части, так как посадка сзади всегда выше.
                            Вы получите не точные замеры если выровняйте на одну линию лицевую и заднюю стороны брюк(джинсов).
                            Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td>
                            Полуобхват бедер. Измерения проводятся в самой широкой части бедер от
                            самой крайней левой точки до самой крайней правой точки. Как правило это часть находится ниже ширинки джинсов (брюк).
                            Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                </tbody>
            </table>
            <br><br>

            <p>Юбки, брюки, шорты, капри</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>A</td>
                        <td>
                            Полуобхват пояса. Измерения проводятся непосредственно по линии пояса.
                            Измеряем от самой крайней левой точки до самой крайней правой точки линии пояса.
                            Обратите внимание также, что лицевая часть пояса будет ниже задней части, так как посадка сзади всегда выше.
                            Вы получите не точные замеры если выровняйте на одну линию лицевую и заднюю стороны брюк(джинсов).
                            Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>
                            Полуобхват бедер. Измерения проводятся в самой широкой части бедер от самой крайней левой точки
                            до самой крайней правой точки. Как правило это часть находится ниже ширинки шорт (брюк).
                            Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>Длина изделия. Измерения проводятся на лицевой стороне, по её боковому шву от крайней верхней точки до крайней нижней точки.</td>
                    </tr>
                </tbody>
            </table>
            <br><br>

            <h2 class="text-center">КАК ЗАМЕРЯТЬ МУЖСКУЮ ОДЕЖДУ</h2>
            <br>
            <p>Рубашки, футболки, свитера</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>A</td>
                        <td>
                            Ширина плеч. Измерения проводятся по плечевому поясу изделия от крайней точки левого плеча,
                            до крайней точки правого плеча. Исключениями являются изделия с рукавом реглан.
                            В таких случаях ширина плеч не замеряется. Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>
                            Полуобхват груди. Измерения проводятся по лицевой стороне изделия от левого конца до правого конца изделия.
                            Важно отступить вниз 2-3 сантиметра от нижней точки соединения рукава с изделием. Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>
                            Длина рукава. Измерения проводятся по внешней стороне рукава от плечевого шва до окончания рукава.
                            Исключениями являются изделия с рукавом реглан, замер проводят от верхней точки плеча(воротник) до самого конца рукава. Как правило на ширину плеча уходит ¼ длины рукава.
                        </td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>Длина изделия. Измерения проводятся на лицевой стороне, от плечевого шва до низа изделия. </td>
                    </tr>
                </tbody>
            </table>
            <br><br>

            <p>Брюки, шорты</p>
            <table class="table">
                <tbody>
                    <tr>
                        <td>A</td>
                        <td>
                            Полуобхват пояса. Измерения проводятся непосредственно по линии пояса.
                            Измеряем от самой крайней левой точки до самой крайней правой точки линии пояса.
                            Обратите внимание также, что лицевая часть пояса будет ниже задней части, так как посадка сзади всегда выше.
                            Вы получите не точные замеры если выровняйте на одну линию лицевую и заднюю стороны брюк(джинсов).
                            Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>
                            Полуобхват бедер. Измерения проводятся в самой широкой части бедер от
                            самой крайней левой точки до самой крайней правой точки. Как правило это часть находится ниже ширинки шорт (брюк).
                            Начинайте делать замер, отступив от шва 2-3 мм.
                        </td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>Длина изделия. Измерения проводятся по внешнему боковому шву изделия от крайней верхней точки до крайней нижней точки.</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>
{% endblock content %}
