{% extends 'base.html' %}

{% block title %}Информация об оплате{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active">Публичная оферта</li>
        </ul>
    </div>
</div>
<div class="container info-container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Публичная оферта</h1><br>

            <p>Магазин «DwsShop» предлагает физическим лицам заключить договор на условиях оферты.</p><br>

            <ol>
                <li>
                    <p><b>Предмет договора:</b> продажа товаров через сайт {{shop_domain_name}}.
                    <b>Цены</b> доступны в разделе «Главная», на странице категории либо подкатегории товаров.
                    <b>Характеристики товара, доступные цвета и размеры</b> можно увидеть на странице конкретного товара,
                    для того чтобы туда попасть просто нажмите на фотографию товара либо кнопку "Подробнее" в любом месте сайта.</p>
                </li>
                <li>
                    <p><b>Договор считается заключенным</b> с момента оплаты заказа покупателем.</p>
                </li>
                <li>
                    <p><strong>Доставка по Украине.</strong></p>
                    <p>
                        Заказы комплектуются и отправляются* в течение
                        <strong>1 рабочего дня*** после подтверждения заказа.</strong>
                    </p>
                    <p>
                        <b>Отправки производятся 6 дней в неделю</b>, с понедельника по субботу.
                        Отправки не производятся по воскресеньям, выходным и праздничным дням.
                    </p>
                    <p>
                        <b>Заказы на сайте можно оформлять в любой день</b>, в любое время.
                        Товары в заказах, оплаченных онлайн, автоматически резервируются,
                        имеют преимущество в скорости комплектации и отправки.
                    </p>
                    <p>
                        Могут быть незначительные отклонения от графика отправок (до 5% от общего числа заказов).
                        Заранее благодарим за понимание.
                    </p>
                    <p>
                        <span style="color: red;">*</span><b>Под отправкой с нашей стороны понимается доставка посылки в отделение транспортной компании ("Новая Почта").</b>
                        Мы сделаем все от нас зависящее, чтобы своевременно передать посылки в транспортную компанию ("Новая Почта"),
                        в то же время просим учесть, что посылка, доставленная нами в отделение "Новой Почты",
                        может уехать оттуда не в тот же день в связи с особенностями внутренних процедур транспортной компании.
                        Просим делать заказы по возможности заранее.
                    </p>
                    <p>
                        <b>Доставку оплачивает покупатель.</b>
                        Стоимость доставки рассчитывается по тарифам транспортной компании.
                    </p>
                    <p>
                        Онлайн-калькулятор стоимости доставки "Новой Почты" <a href="https://novaposhta.ua/ru/delivery">здесь</a>.
                    </p>
                    <p>
                        Забрать посылку в отделении "Новой Почты" вы можете <b>в течение 5 (пяти) рабочих дней</b> отделения
                        (кроме воскресенья, нерабочих и праздничных дней) с учетом дня поступления отправления в отделение Получателя.
                        После этого посылка автоматически возвращается отправителю.
                    </p>
                    <p>
                        Внимание! День поступления посылки в отделение Получателя считается первым днем.
                        Просим учесть, что посылка может быть автоматически отправлена назад Отправителю в любое время пятого дня,
                        поэтому убедительно просим не откладывать получение на пятый день.
                    </p>
                    <p>
                        <span style="color: red;">**</span>На сроки сбора заказа могут влиять:
                    </p>
                    <ul>
                        <li>Отсутствие товара на основном складе - менеджер может озвучить клиенту новый срок отправки, предложить заменить отсутствующий товар на другой или отправить посылку без отсутствующего товара.</li>
                        <li>Выходные и праздничные дни - отправки производятся только в рабочие дни. После выходных и праздников нагрузка на склады возрастает.</li>
                        <li>Большие распродажи - в дни акций количество заказов многократно возрастает, вследствие чего может потребоваться дополнительное время на сбор заказа и срок комплектации увеличится.</li>
                        <li>Форс-мажоры, обстоятельства непреодолимой силы.</li>
                    </ul>
                    <p>
                        Сроки доставки находятся в компетенции транспортных компаний.
                        Доставка "Новой Почтой" по Украине обычно занимает не более 1-3 дней.
                    </p>
                    <p><a href="{% url 'shipping_policy' %}">Подробнее о доставке можно посмотреть здесь.</a></p>
                </li>
                <li>
                    <p><b>Возврат товара.</b></p>
                    <p>
                        Согласно ст. 93 Закона Украины "О защите прав потребителей",
                        товар надлежащего качества можно вернуть назад в магазин при условии, что вы им не пользовались.
                    </p>
                    <p><strong>На возврат товара у вас есть 14 дней с момента получения товара.</strong></p>
                    <p>Белье, носки и перчатки обмену и возврату не подлежат согласно Постановлению КМУ от 19 марта 1994 г. № 172.</p>
                    <br>

                    <h4 class="text-center">Правила возврата товаров</h4>
                    <br>
                    <ol>
                        <li>
                            Вернуть товары можно только в первозданном виде: полная комплектация,
                            включая упаковку со штрих-кодом, ярлыки, бирки; отсутствие следов носки, загрязнений, пятен.
                        </li>
                        <li>
                            Заполненный бланк заявления на возврат. Без заявления возврат не будет принят.
                            Все пункты заявления обязательны к заполнению.
                        </li>
                        <li>
                            Доставка возврата производится за счет покупателя.
                            В случае, если будет установлено, что возврат  произошел по вине интернет-магазина,
                            мы компенсируем сумму доставки посылки с возвратом. Возвраты, отправленные за счет интернет-магазина,
                            не будут приняты.
                        </li>
                    </ol>
                    <br>

                    <h4 class="text-center">Чтобы оформить возврат или обмен, вам следует:</h4>
                    <br>
                    <ol>
                        <li>
                            Заполнить заявление на возврат <a href="{% url 'return_letter' %}">здесь</a>.
                        </li>
                        <li>
                            Отправить товар по адресу:
                            <ul>
                                <li>"Новая Почта": г. Одесса, отделение №135 (ул. Семена Палия, 93)</li>
                            </ul>
                            <p>
                                Получатель Петров Олег Николаевич, тел. 093 204-05-40
                                (этот номер можно использовать только как номер получателя при отправлении посылки).
                            </p>
                        </li>
                        <li>
                            После того, как мы получим посылку и примем возврат в обработку,
                            вы получите соответствующее сообщение на элуктронную.
                        </li>
                        <li>
                            Возврат денег будет осуществлен в течение 3 банковских дней* после того,
                            как возврат принят в обработку, при условии, что все правила возврата выполнены корректно и в полном объеме.
                            В исключительных случаях на возврат требуется до 14 дней.
                        </li>
                    </ol>
                    <p>
                        <span style="color: red;">*</span>Рекомендуем отправлять посылки с возвратами "Новой Почтой",
                        чтобы ускорить получение нами посылки и уменьшить вероятность ее потери.
                    </p>
                    <p><a href="{% url 'return_policy' %}">Подробнее о возврате товара можно посмотреть здесь.</a></p>
                </li>
                <li>
                    <p>Информация об оплате.</p>
                    <p><strong>Онлайн оплата</strong> Оплата банковской картой онлайн (система Liqpay/Приват24)</p>
                    <p>
                        Для того, чтобы оплатить заказ покупатель должен перейти в раздел "Мой аккаунт", нажать на кнопку "Заказы" бокового меню
                        и нажать на <button class="btn" type="submit"><i class="fa fa-search"></i></button>. Под карточкой заказа находиться зеленая кнопка
                        "Оплатить", нажмите её. При оплате с помощью банковской карты, клиент направляется на платежный сервис Liqpay,
                        который отвечает за обработку и сохранность данных банковской карты клиента. После успешного платежа клиенту на электронную почту
                        прийдет сообщение, сообщающее об успехе операции. Статус оплаты заказа можно увидеть на той же страничке "Мой аккаунт" > "Заказы".
                    </p>
                    <p>
                        Когда заказ будет отправлен, клиент получает еще одно сообщение на єлектронную почту,
                        в котором будет указан номер ТТН "Новой Почты", по которому можно проследить статус посылки.
                        Когда посылка прибудет в пункт назначения, клиент получает СМС от "Новой Почты" о том, что посылку можно забирать.
                    </p>
                    <p><a href="{% url 'payment_policy' %}">Подробнее об оплате читайте здесь.</a></p>
                </li>
                <li>
                    <p>
                        При возникновении <b>жалоб</b>, досудебный порядок разрешения споров обязателен.
                        Отправьте нам письмо на dws.shopp@gmail.com.
                        Мы рассмотрим претензию и ответим вам в течение 3 рабочих дней.
                    </p>
                </li>
                <li>
                    <p>Покупатель согласен предоставить продавцу следующие персональные данные:</p>
                    <ul>
                        <li>имя, фамилию, отчество;</li>
                        <li>контактный номер телефона;</li>
                        <li>адрес электронной почты;</li>
                        <li>адрес доставки.</li>
                    </ul>
                    <p>Данные клиента используются для оплаты заказа и осуществления доставки.</p>
                </li>
                <li>
                    <p>
                        Магазин вправе изменить оферту по своему усмотрению.
                        Изменения вступают в силу с момента публикации на сайте {{shop_domain_name}}.
                    </p>
                </li>
                <li>
                    <p>Реквизиты Продавца:</p>

                    <p>ФОП Жаріков Денис Сергійович</p>

                    <p>Адрес: Україна, 61045, харківська область, м.Харків, Шевченківський р-н, вул.Отакара Яроша, БУД. 10, КВ.137</p>

                    <p>Название банка: Харківське ГРУ АТ КБ "ПРИВАТБАНК"</p>

                    <p>ИПП 3696302719</p>

                    <p>IBAN: UA913515330000026000052156352</p>

                    <p>Плательщик единого налога</p>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock content %}
