{% extends 'base.html' %}

{% block title %}Информация об оплате{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active">Информация об оплате</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Информация об оплате</h1>
            <br>
            <h2 class="text-center">Оплата по Украине</h2>
            <br>
            <p><strong>Онлайн оплата</strong> Оплата банковской картой онлайн (система Liqpay/Приват24)</p>
            <p>После оплаты заказа, Вам на єлектронную почту прийдет сообщение о том, что заказ успешно сформирован.</p>
            <p>
                Когда заказ будет отправлен, клиент получает еще одно сообщение на єлектронную почту,
                в котором будет указан номер ТТН "Новой Почты", по которому можно проследить статус посылки.
                Когда посылка прибудет в пункт назначения, клиент получает СМС от "Новой Почты" о том, что посылку можно забирать.
            </p>
            <p>По любым вопросам Вы всегда можете обратиться к нам.</p>
            <br><br>
            <h3 class="text-center">Часто задаваемые вопросы по онлайн-оплате</h3>
            <br>
            <ol>
                <li>
                    <strong>Как оплачивать заказ онлайн?</strong>
                    <p>
                        Если вы выбрали способ оплаты "Приват24, картой VISA / MASTERCARD (LiqPay)",
                        через несколько секунд после того, как вы нажимаете кнопку "Оформить заказ",
                        автоматически открывается вкладка оплаты LiqPay и вы можете оплачивать заказ.
                        По умолчанию открывается вкладка "Карта" (позволяет совершить оплату картой любого банка).
                    </p>
                </li>
                <li>
                    <strong>Какие есть варианты оплаты онлайн?</strong>
                    <p>Если вы хотите осуществить оплату банковской картой онлайн,</p>
                    <ul>
                        <li>используйте вкладку "Карта" (открывается по умолчанию)</li>
                    </ul>
                    <br>
                    <p>Если вы хотите осуществить оплату картой ПриватБанка, можно выбрать:</p>
                    <ul>
                        <li>оплату на вкладке "Карта" (открывается по умолчанию);</li>
                        <li>Приват24.</li>
                    </ul>
                    <br>
                </li>
                <li>
                    <strong>Насколько это безопасно?</strong>
                    <p>Это полностью безопасно. Безопасность гарантируется международными системами Visa, MasterCard,
                        а также ПриватБанком, который предоставляет данный сервис онлайн-оплаты LiqPay.
                        Правила использования данного сервиса можно прочитать <a href="https://www.liqpay.ua/ru/rules/">здесь</a>.
                    </p>
                </li>
            </ol>
            <br><br>
        </div>
    </div>
</div>
{% endblock content %}
