{% extends 'base.html' %}

{% block title %}Возврат товара{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active">Возврат товара</li>
        </ul>
    </div>
</div>

<div class="container info-container">
    <div class="row">
        <div class="col-lg-12">

            <h1 class="text-center">Возврат товара</h1>
            <br>
            <p>
                Вы находитесь на этой странице и сейчас читаете эти строки по одной причине: переживаете,
                насколько надежно и безопасно покупать одежду в нашем интернет-магазине,
                и не будет ли каких-либо проблем при возврате товара.
            </p>
            <p>
                Мы сами покупаем через интернет.
                Мы знаем, что нужно сделать для того, чтобы покупки в интернете были простыми, удобными и безопасными.
            </p>
            <p>
                Именно поэтому возврат товаров осуществляется <strong>просто, удобно и безопасно.</strong>
            </p>
            <p>
                Согласно ст. 93 Закона Украины "О защите прав потребителей",
                товар надлежащего качества можно вернуть назад в магазин при условии, что вы им не пользовались.
            </p>
            <p><strong>На возврат товара у вас есть 14 дней с момента получения товара.</strong></p>
            <p>Белье, носки и перчатки обмену и возврату не подлежат согласно Постановлению КМУ от 19 марта 1994 г. № 172.</p>
            <br>

            <h2 class="text-center">Правила возврата (обмена) товаров</h2>
            <br>
            <ol>
                <li>
                    Вернуть товары можно только в первозданном виде: полная комплектация,
                    включая упаковку со штрих-кодом, ярлыки, бирки; отсутствие следов носки, загрязнений, пятен.
                </li>
                <li>
                    Заполненный бланк заявления на возврат (обмен) вложите в посылку с возвращаемыми товарами — это обязательное условие возврата (обмена).
                    Без заявления возврат не будет принят. Все пункты заявления обязательны к заполнению.
                    Также обязательным является заполнение электронного варианта заявления, которое вы можете найти <a href="{% url 'return_letter' %}">здесь</a>.
                </li>
                <li>
                    Доставка возврата производится за счет покупателя.
                    В случае, если будет установлено, что возврат  произошел по вине интернет-магазина,
                    мы компенсируем сумму доставки посылки с возвратом. Возвраты, отправленные за счет интернет-магазина,
                    не будут приняты.
                </li>
                <li>
                    Если вы осуществляете обмен на ту же модель (тот же артикул товара), он производится без доплат/выплат,
                    независимо от изменений цены на данный товар.
                </li>
                <li>
                    Если вы осуществляете обмен на другие модели (другие артикулы товаров), вы выбираете товары исходя
                    из фактически оплаченной вами суммы по действующим на данный момент ценам.
                </li>
                <li>
                    Так же если вы осуществляете обмен на другие можели (другие артикулы товаров) и
                    не отвечаете на сообщения наших консультантов о том, что нового товара, который вы выбрали, нету в наличии,
                    мы вправе выслать вам товар, который максимально близко по своим характеристикам и цене соответствует,
                    заменяемому.
                </li>
            </ol>
            <br>

            <h2 class="text-center">Чтобы оформить возврат или обмен, вам следует:</h2>
            <br>
            <ol>
                <li>
                    Заполнить заявление на возврат в посылке и  <a href="{% url 'return_letter' %}">здесь</a>.
                </li>
                <li>
                    Отправить товар по адресу:
                    <ul>
                        <li>"Новая Почта": г. Одесса, отделение №135 (ул. Семена Палия, 93)</li>
                    </ul>
                    <p>
                        Получатель Петров Олег Николаевич, тел. 093 204-05-40
                        (этот номер можно использовать только как номер получателя при отправлении посылки).
                    </p>
                </li>
                <li>
                    Для того, чтобы оформить обмен товара, нужно: а) отправить нам посылку с товаром и заявлением;
                    б) оформить на сайте заказ на тот товар, на который вы желаете произвести обмен.
                    В комментарии к заказу необходимо указать, что это обмен, написать номер предыдущего заказа
                    и номер ТТН "Новой Почты"/"Укрпочты" посылки с возвратом. Без этих трех элементов в комментарии
                    (слово "обмен", номер предыдущего заказа, номер ТТН посылки с возвратом) заказ на обмен
                    не может быть обработан.
                </li>
                <li>
                    После того, как мы получим посылку и примем возврат в обработку,
                    вы получите соответствующее сообщение на электронную почту.
                </li>
                <li>
                    Возврат денег будет осуществлен в течение 3 банковских дней* после того,
                    как возврат принят в обработку, при условии, что все правила возврата выполнены корректно и в полном объеме.
                    В исключительных случаях на возврат требуется до 14 дней.
                </li>
                <li>
                    Отправка посылки с заказом на обмен - в течение 5 рабочих дней* после того, как возврат принят в обработку,
                    при условии, что все правила обмена выполнены корректно и в полном объеме.
                </li>
            </ol>
            <p>
                <span style="color: red;">*</span>Рекомендуем отправлять посылки с возвратами "Новой Почтой",
                чтобы ускорить получение нами посылки и уменьшить вероятность ее потери.
            </p>
            <br>

            <h2 class="text-center">Часто задаваемые вопросы:</h2>
            <br>

            <p><strong>Сколько нужно ждать возврата денег или обмена товара?</strong></p>
            <p>
                Мы заинтересованы в том, чтобы вернуть деньги или обменять товар как можно быстрее.
                Как правило, это занимает до 3 банковских дней, в исключительных случаях - до 14 дней после того,
                как возврат принят в обработку, при условии, что все правила возврата (обмена) выполнены корректно и в полном объеме.
            </p>

            <p><strong>От какой даты считать срок возврата денег?</strong></p>
            <p>
                Мы забираем посылки с возвратами не реже 3 раз в неделю (пн, ср, пт), иногда чаще.
                Мы обрабатываем посылки с возвратами не реже 2 раз в неделю (вт, чт), иногда чаще.
                Именно дата, когда возврат принят в обработку, является датой, от которой нужно считать срок возврата денег.
                Все другие даты (дата отправки посылки с возвратом, дата поступления посылки на отделение, дата получения посылки с возвратом, и т.п.)
                в расчет не берутся.
            </p>

            <p><strong>Кто платит за пересылку товара при возврате?</strong></p>
            <p>
                Доставка посылки с возвратом производится за счет покупателя. В случае, если будет установлено,
                что возврат  произошел по вине интернет-магазина, мы компенсируем стоимость доставки посылки с возвратом.
                Возвраты, отправленные за счет интернет-магазина, не будут приняты.
            </p>
            <p>Пример возврата по вине интернет-магазина - брак товара.</p>
            <p>
                Пример возврата не по вине интернет-магазина - не подошел размер.
                Просим учесть, что некоторые ткани очень тянутся, и замеры изделия, указанные на сайте,
                могут существенно отличаться от фактических параметров изделия.
            </p>

            <p><strong>Когда можно начать паниковать по поводу невозврата денег?</strong></p>
            <p>
                Не раньше, чем через 14 рабочих дней с момента, когда возврат принят в обработку.
            </p>

            <p><strong>Как именно происходит возврат средств?</strong></p>
            <p>
                Мы перечисляем деньги на банковскую карту, номер которой вы напишете в заявлении на возврат.
            </p>

            <br><br>
        </div>
    </div>
</div>
{% endblock content %}
