{% extends 'base.html' %}

{% block title %}Информация о доставке{% endblock title %}

{% block content %}
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active">Информация о доставке</li>
        </ul>
    </div>
</div>

<div class="container info-container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Информация о доставке</h1>
            <br>
            <h2 class="text-center"><strong>Доставка по Украине</strong></h2>
            <br>
            <p>
                Под "Отправка: завтра" следует понимать доставку посылки со склада на отделение "Новой Почты"
                для отправки получателю не позже,
                чем на следующий рабочий день после подтверждения заказа***.
            </p>
            <br><br>
            <h2 class="text-center"><strong>Сроки комплектации заказов</strong></h2>
            <br>
            <p>
                Заказы комплектуются и отправляются* в течение
                <strong>1 рабочего дня*** после подтверждения заказа.</strong>
            </p>
            <p>
                Отправки производятся 6 дней в неделю, с понедельника по субботу.
                Отправки не производятся по воскресеньям, выходным и праздничным дням.
            </p>
            <p>
                Заказы на сайте можно оформлять в любой день, в любое время.
                Товары в заказах, оплаченных онлайн, автоматически резервируются,
                имеют преимущество в скорости комплектации и отправки.
            </p>
            <p>
                Могут быть незначительные отклонения от графика отправок (до 5% от общего числа заказов).
                Заранее благодарим за понимание.
            </p>
            <p>
                <span style="color: red;">*</span>Под отправкой с нашей стороны понимается доставка посылки в отделение транспортной компании ("Новая Почта").
                Мы сделаем все от нас зависящее, чтобы своевременно передать посылки в транспортную компанию ("Новая Почта"),
                в то же время просим учесть, что посылка, доставленная нами в отделение "Новой Почты",
                может уехать оттуда не в тот же день в связи с особенностями внутренних процедур транспортной компании.
                Просим делать заказы по возможности заранее.
            </p>
            <p>
                Доставку оплачивает покупатель.
                Стоимость доставки рассчитывается по тарифам транспортной компании.
            </p>
            <p>
                Онлайн-калькулятор стоимости доставки "Новой Почты" <a href="https://novaposhta.ua/ru/delivery">здесь</a>.
            </p>
            <p>
                Забрать посылку в отделении "Новой Почты" вы можете в течение 5 (пяти) рабочих дней отделения
                (кроме воскресенья, нерабочих и праздничных дней) с учетом дня поступления отправления в отделение Получателя.
                После этого посылка автоматически возвращается отправителю.
            </p>
            <p>
                Внимание! День поступления посылки в отделение Получателя считается первым днем.
                Просим учесть, что посылка может быть автоматически отправлена назад Отправителю в любое время пятого дня,
                поэтому убедительно просим не откладывать получение на пятый день.
            </p>
            <p>
                <span style="color: red;">**</span>На сроки сбора заказа могут влиять:
            </p>
            <ul>
                <li>Отсутствие товара на основном складе - менеджер может озвучить клиенту новый срок отправки, предложить заменить отсутствующий товар на другой или отправить посылку без отсутствующего товара.</li>
                <li>Выходные и праздничные дни - отправки производятся только в рабочие дни. После выходных и праздников нагрузка на склады возрастает.</li>
                <li>Большие распродажи - в дни акций количество заказов многократно возрастает, вследствие чего может потребоваться дополнительное время на сбор заказа и срок комплектации увеличится.</li>
                <li>Форс-мажоры, обстоятельства непреодолимой силы.</li>
            </ul>
            <p>
                Сроки доставки находятся в компетенции транспортных компаний.
                Доставка "Новой Почтой" по Украине обычно занимает не более 1-3 дней.
            </p>
            <br><br>
        </div>
    </div>
</div>
{% endblock content %}
