{% extends 'base.html' %}

{% block title %}Базовый шаблон для списка продуктов категории{% endblock title %}

{% block content %}
        <!-- Breadcrumb Start -->
        {% block breadcrumb %}
        {% endblock breadcrumb %}
        <!-- Breadcrumb End -->

        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <!-- Main Slider Start -->
                    {% block slider %}
                    {% endblock slider %}
                    <!-- Main Slider End -->
                    <div class="col-lg-8">
                        <div class="row justify-content-center">
                            {% block search %}
                            {% endblock search %}
                            {% for product in products %}
                                <div class="col-10 col-sm-6 col-md-6 col-lg-4">
                                    <div class="widget-slider">
                                        <div class="sidebar-slider-my normal-slider">
                                            {% for image in product.images_for_category_list %}
                                                {% include 'components/product_item.html' with image_url=image.image.url image_alt=image.title %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Pagination Start -->
                        {% block pagination %}
                        {% endblock pagination %}
                        <!-- Pagination End -->
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
