{% extends 'base.html' %}

{% load status %}
{% load subtract %}

{% block title %}Все заказы{% endblock title %}

{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active">Все заказы</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="product-view-top">
                    <div class="row">
                        <form action="{% url 'client_orders_for_admin' %}" method="get" id="search_form"></form>
                        <div class="col-md-6">
                            <div class="product-sort">
                                {{ form.status_choice.label }}
                                {{ form.status_choice }}
                                {% for error in form.status_choice.errors %}
                                <p style="color: red; font-size: 10px;" class="text-center"><strong>{{ error }}</strong></p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product-sort">
                                {{ form.order.label }}
                                {{ form.order }}
                                {% for error in form.order.errors %}
                                <p style="color: red; font-size: 10px;" class="text-center"><strong>{{ error }}</strong></p>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-6 offset-md-3 text-center">
                            <button type="submit" class="btn btn-lg" form="search_form" style="width: 100%;"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for order in orders %}
    {% with items=order.cart.items.all current_cart=order.cart %}
    <div class="cart-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-page-inner" style="background-color: white;">
                        <h1 class="text-center">Информация о заказе {{ order.created_at }}</h1>
                        <br>
                        <br>
                        <div class="col-lg-12">
                            <table class="table-responsive">
                                <tbody>
                                    <tr>
                                        <td style="min-width: 300px">Имя</td>
                                        <td>{{ order.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Фамилия</td>
                                        <td>{{ order.second_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Номер телефона</td>
                                        <td>{{ order.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Почта</td>
                                        <td>{{ order.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Область</td>
                                        <td>{{ order.region }}</td>
                                    </tr>
                                    <tr>
                                        <td>Населенный пункт</td>
                                        <td>{{ order.locality }}</td>
                                    </tr>
                                    <tr>
                                        <td>Отделение новой почты</td>
                                        <td>{{ order.post_office }}</td>
                                    </tr>
                                    <tr>
                                        <td>Комментарий</td>
                                        <td>{{ order.comment }}</td>
                                    </tr>
                                    <tr>
                                        <td>Статус заказа</td>
                                        <td>
                                            <form action="{% url 'client_orders_for_admin' %}" method="post" id="client_order_{{ order.id }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="order_id" value="{{ order.id }}">
                                            </form>
                                            <select form="client_order_{{ order.id }}" name="choice" class="form-select" aria-label="Default select example" style="color: {{ order.status|status_color }}; border-color: {{ order.status|status_color }};">
                                                {% for status_value, status_verbose_name in STATUS_CHOICES %}
                                                    {% if order.status == status_value %}
                                                        <option value="{{ status_value }}" style="color: {{ status_value|status_color }}" selected>{{ status_verbose_name }}</option>
                                                    {% else %}
                                                        <option value="{{ status_value }}" style="color: {{ status_value|status_color }}">{{ status_verbose_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Время оформления заказа</td>
                                        <td>{{ order.created_at }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Цена</th>
                                        <th>Размер</th>
                                        <th>Цвет</th>
                                        <th>Количество</th>
                                        <th>Сумма</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.image.url }}" alt="{{ item.product.title }}"></a>
                                                    <p>{{ item.product.title }}</p>
                                                </div>
                                            </td>
                                            <td>{{ item.product.price }}грн.</td>
                                            <td>{{ item.size }}</td>
                                            <td>{{ item.color }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.total_price }}грн.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>Общая стоимость корзины</h2>
                            </div>
                            <div class="col-lg-6 text-right">
                                <h2>{{ current_cart.total_price }}грн.</h2>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3 text-center">
                                <button class="btn btn-lg" type="submit" form="client_order_{{ order.id }}" style="width: 100%;">Подтвердить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
{% endfor %}
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if orders.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'client_orders_for_admin' %}?page={{ orders.previous_page_number }}">Предыдущая</a>
                            </li>
                        {% endif %}
                        {% if orders.has_other_pages %}
                            {% for page_number in page_range %}
                                {% if forloop.first and page_number > 1 %}
                                    <li class="page-item"><a class="page-link" href="{% url 'client_orders_for_admin' %}?page={{ page_number|subtract:'1' }}">...</a></li>
                                {% endif %}
                                {% if orders.number == page_number %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'client_orders_for_admin' %}?page={{ page_number }}">{{ page_number }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{% url 'client_orders_for_admin' %}?page={{ page_number }}">{{ page_number }}</a></li>
                                {% endif %}
                                {% if forloop.last and page_number < orders.paginator.num_pages %}
                                    <li class="page-item"><a class="page-link" href="{% url 'client_orders_for_admin' %}?page={{ page_number|add:'1' }}">...</a></li>
                                {% endif %}
                                {% endfor %}
                        {% endif %}
                        {% if orders.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'client_orders_for_admin' %}?page={{ orders.next_page_number }}">Следующая</a>
                                </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
