{% extends 'base.html' %}

{% load status %}
{% load subtract %}

{% block title %}Мои заказы{% endblock title %}

{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active">Мои заказы</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
{% for order in orders %}
    {% with items=order.cart.items.all current_cart=order.cart %}
    <div class="cart-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-page-inner" style="background-color: white;">
                        <h1 class="text-center">Информация о заказе {{ order.created_at }}</h1>
                        <br>
                        <br>
                        <div class="col-lg-12">
                            <table class="table-responsive">
                                <tbody>
                                    <tr>
                                        <td style="min-width: 300px">Имя</td>
                                        <td>{{ order.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Фамилия</td>
                                        <td>{{ order.second_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Отчество</td>
                                        <td>{{ order.middle_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Номер телефона</td>
                                        <td>{{ order.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Почта</td>
                                        <td>{{ order.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Область</td>
                                        <td>{{ order.region }}</td>
                                    </tr>
                                    <tr>
                                        <td>Населенный пункт</td>
                                        <td>{{ order.locality }}</td>
                                    </tr>
                                    <tr>
                                        <td>Отделение новой почты</td>
                                        <td>{{ order.post_office }}</td>
                                    </tr>
                                    <tr>
                                        <td>Комментарий</td>
                                        <td>{{ order.comment }}</td>
                                    </tr>
                                    <tr>
                                        <td>Способ оплаты</td>
                                        <td>{{ order.payment_method|translate_payment_method }}</td>
                                    </tr>
                                    <tr>
                                        <td>Статус оплаты</td>
                                        <td style="color: {{ order.payment_status|payment_status_color }};">{{ order.payment_status|translate_payment_status }}</td>
                                    </tr>
                                    <tr>
                                        <td>Статус заказа</td>
                                        <td style="color: {{ order.status|status_color }}">{{ order.status|translate_status }}</td>
                                    </tr>
                                    <tr>
                                        <td>Время оформления заказа</td>
                                        <td>{{ order.created_at }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Цена</th>
                                        <th>Размер</th>
                                        <th>Цвет</th>
                                        <th>Количество</th>
                                        <th>Сумма</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.image.url }}" alt="{{ item.product.title }}"></a>
                                                    <p>{{ item.product.title }}</p>
                                                </div>
                                            </td>
                                            <td>{{ item.product.price }}грн.</td>
                                            <td>{{ item.size }}</td>
                                            <td>{{ item.color }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.total_price }}грн.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>Общая стоимость корзины</h2>
                            </div>
                            <div class="col-lg-6 text-right">
                                <h2>{{ current_cart.total_price }}грн.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
{% endfor %}
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if orders.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'client_orders' %}?page={{ orders.previous_page_number }}">Предыдущая</a>
                            </li>
                        {% endif %}
                        {% if orders.has_other_pages %}
                            {% for page_number in page_range %}
                                {% if forloop.first and page_number > 1 %}
                                    <li class="page-item"><a class="page-link" href="{% url 'client_orders' %}?page={{ page_number|subtract:'1' }}">...</a></li>
                                {% endif %}
                                {% if orders.number == page_number %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'client_orders' %}?page={{ page_number }}">{{ page_number }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{% url 'client_orders' %}?page={{ page_number }}">{{ page_number }}</a></li>
                                {% endif %}
                                {% if forloop.last and page_number < orders.paginator.num_pages %}
                                    <li class="page-item"><a class="page-link" href="{% url 'client_orders' %}?page={{ page_number|add:'1' }}">...</a></li>
                                {% endif %}
                                {% endfor %}
                        {% endif %}
                        {% if orders.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'client_orders' %}?page={{ orders.next_page_number }}">Следующая</a>
                                </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
