{% extends 'base.html' %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
        <!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="list-group">
                            {% for category in categories %}
                            <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action btn btn-outline-danger">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-slider normal-slider">
                            {% for product_1, product_2 in high_ratting_products_for_main_slider %}
                                <div class="header-slider-item">
                                    <img style="width: 49%; display: inline;" src="{{ product_1.image.url }}" alt="{{ product_1.title }}" />
                                    <img style="width: 49%; display: inline;" src="{{ product_2.image.url }}" alt="{{ product_2.title }}" />
                                    <div class="header-slider-caption">
                                        <p>{{ product_1.category.category.title }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                        <!-- Side Bar Start -->
                        <div class="col-lg-3">
                            <div class="widget-slider">
                                <div class="sidebar-slider normal-slider">
                                    {% for product in side_products %}
                                        {% include 'components/product_item.html' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- Side Bar End -->
                    </div>
                </div>
            </div>
        <!-- Main Slider End -->
        <hr>
        <!-- Feature Start-->
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fab fa-cc-mastercard"></i>
                            <h2>Надежная оплата</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2>Доставка по всей Украине</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-sync-alt"></i>
                            <h2>14 дней возврата</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2>Поддержка</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End-->

        <!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>Пишите нам по любым вопросам</h1>
                    </div>
                    <div class="col-md-6">
                        <a href="#" style="pointer-events: none;">dws.shopp@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->

        <!-- Featured Product Start -->
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Самые популярные</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                   {% for product in most_popular_products %}
                    <div class="col-lg-3">
                        {% include 'components/product_item.html' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Featured Product End -->

        <!-- Newsletter Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>Звоните нам по любым вопросам</h1>
                    </div>
                    <div class="col-md-6">
                        <a href="#" style="pointer-events: none;">+380674278265</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->

        <!-- Recent Product Start -->
        <div class="recent-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Новинки</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                   {% for product in recent_products %}
                    <div class="col-lg-3">
                        {% include 'components/product_item.html' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Recent Product End -->
{% endblock content %}
