{% extends 'base.html' %}

{% load product_tags %}
{% load measurements %}
{% load static %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}

        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{{ current_category.get_absolute_url }}">{{ current_category.title }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ current_subcategory.get_absolute_url }}">{{ current_subcategory.title }}</a></li>
                    <li class="breadcrumb-item active">{{ product.title }}</li>
                </ul>
            </div>
        </div>

        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="product-detail-top">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">
                                        {% for image in product.images %}
                                            <img src="{{ image.image.url }}" alt="{{ image.title }}">
                                        {% endfor %}
                                    </div>
                                    <div class="product-slider-single-nav normal-slider">
                                        {% for image in product.images %}
                                            <div class="slider-nav-img"><img src="{{ image.image.url }}" alt="{{ image.title }}"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="product-content">
                                        <div class="title"><h2 id="product-title">{{ product.title }}</h2></div>
                                        <div class="ratting">
                                            {% with ratting=product.rounded_ratting %}
                                                {% if ratting != 0 %}
                                                    <i class="{% if ratting >= 1 %}fa{% else %}far{% endif %} fa-star"></i>
                                                    <i class="{% if ratting >= 2 %}fa{% else %}far{% endif %} fa-star"></i>
                                                    <i class="{% if ratting >= 3 %}fa{% else %}far{% endif %} fa-star"></i>
                                                    <i class="{% if ratting >= 4 %}fa{% else %}far{% endif %} fa-star"></i>
                                                    <i class="{% if ratting >= 5 %}fa{% else %}far{% endif %} fa-star"></i>
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                        <div class="price">
                                            <h4>Цена:</h4>
                                            <p>{{ product.price|pretty_price }} грн.</p>
                                        </div>

                                        <form action="#" id="add_to_cart_form" method="post"></form>

                                        <div class="quantity">
                                            <h4>{{ form.quantity.label }}:</h4>
                                            <div class="qty">
                                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                {{ form.quantity }}
                                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        {% for error in form.quantity.errors %}
                                        <p style="color: red; font-size: 20px;"><strong>{{ error }}</strong></p>
                                        {% endfor %}
                                        {% if product.size_specifications %}
                                        <div class="p-size">
                                            <h4>{{ form.size.label }}:</h4>
                                            <div class="btn-group btn-group-sm">
                                                <div class="box" style="width: 200px;">
                                                    {{ form.size }}
                                                </div>
                                            </div>
                                        </div>
                                        {% for error in form.size.errors %}
                                        <p style="color: red; font-size: 20px;"><strong>{{ error }}</strong></p>
                                        {% endfor %}
                                        {% endif %}
                                        {% if product.color_specifications %}
                                        <div class="p-color">
                                            <h4>{{ form.color.label }}:</h4>
                                            <div class="btn-group btn-group-sm">
                                                <div class="box" style="width: 200px;">
                                                    {{ form.color }}
                                                </div>
                                            </div>
                                        </div>
                                        {% for error in form.color.errors %}
                                        <p style="color: red; font-size: 20px;"><strong>{{ error }}</strong></p>
                                        {% endfor %}
                                        {% endif %}
                                        {{ form.product_id }}
                                        <div class="action">
                                            <button type="submit" class="btn" form="add_to_cart_form"><i class="fa fa-shopping-cart"></i> Добавить в корзину</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <div class="product-nav row">
                                    <div class="product-nav-item col-6 col-sm-6 col-lg-3">
                                        <a class="product-nav-link active" data-toggle="pill" href="#description">Описание</a>
                                    </div>
                                    <div class="product-nav-item col-6 col-sm-6 col-lg-3">
                                        <a class="product-nav-link" data-toggle="pill" href="#specification">Характеристики</a>
                                    </div>
                                    <div class="product-nav-item col-6 col-sm-6 col-lg-3">
                                        <a class="product-nav-link" data-toggle="pill" href="#measurement">Замеры изделия</a>
                                    </div>
                                    <div class="product-nav-item col-6 col-sm-6 col-lg-3">
                                        <a class="product-nav-link" data-toggle="pill" href="#reviews">Отзывы (<span id="reviews-count">{{ product.reviews.count }}</span>)</a>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div id="description" class="container tab-pane active">
                                        <h4>Описание продукта</h4>
                                        <p>
                                            {{ product.description }}
                                        </p>
                                    </div>
                                    <div id="specification" class="container tab-pane fade">
                                        <h4>Харкактеристики</h4>
                                        <table class="table">
                                            <tbody>
                                                {% for specification in product.specifications.all %}
                                                    {% if specification.key != 'Цвет' and specification.key != 'Размер' %}
                                                        <tr>
                                                            <th scope="row">{{ specification.key }}</th>
                                                            <td>{{ specification.value|capfirst }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="measurement" class="container tab-pane fade">
                                        <h4>Замеры изделия</h4>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    {% for measurement_header in product.measurements.first.value|measurement_headers %}
                                                        <th scope="col">{{ measurement_header }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for measurement in product.measurements.all %}
                                                    <tr>
                                                        <th scope="row">{{ measurement.key|cut:'(см)' }}</th>
                                                        {% for value in measurement.value|measurement_values %}
                                                            <td>{{ value }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="reviews" class="container tab-pane fade">

                                        <div class="modal fade" id="delete-review-modal" tabindex="-1" role="dialog" aria-labelledby="delete_review_modal_label" aria-hidden="true" data-action="delete">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-center" id="delete_review_modal_label">Вы уверены, что хотите удалить отзыв?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="reviewer">
                                                            <span class="user-first-name" style="font-size: 24px; font-weight: bold; color: #FF6F61;">{{ review.first_name }}</span>
                                                            <span class="user-second-name" style="font-size: 24px; font-weight: bold; color: #FF6F61;">{{ review.last_name }}</span>
                                                        </div>
                                                        <div class="ratting">
                                                            <i class="{% if review.ratting >= 1 %}fa{% else %}far{% endif %} fa-star"></i>
                                                            <i class="{% if review.ratting >= 2 %}fa{% else %}far{% endif %} fa-star"></i>
                                                            <i class="{% if review.ratting >= 3 %}fa{% else %}far{% endif %} fa-star"></i>
                                                            <i class="{% if review.ratting >= 4 %}fa{% else %}far{% endif %} fa-star"></i>
                                                            <i class="{% if review.ratting >= 5 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        </div>
                                                        <p class="user-review">
                                                            {{ review.review }}
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                                                        <form action="#">
                                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                                            <button type="submit" class="btn btn-primary">Удалить</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="edit-review-modal" tabindex="-1" role="dialog" aria-labelledby="edit_review_modal_label" aria-hidden="true" data-action="edit">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-center" id="edit_review_modal_label">Отредактируйте Ваш отзыв</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="#" class="reviews-submit" data-modal="true">
                                                            <div class="row form"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% for review in product.reviews.all %}
                                            {% if user == review.user %}
                                                <div class="reviews-submitted" style="background-color: #FFE0BC; padding: 5px;" id="current-user-review">

                                                    <div style="display: inline; float: right;">
                                                        <button type="button" data-toggle="modal" data-target="#edit-review-modal" class="btn btn-outline-danger"><i class="fas fa-pen-square fa-lg"></i></button>
                                                        <button type="button" data-toggle="modal" data-target="#delete-review-modal" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                                                    </div>

                                                    <div class="reviewer">
                                                        <span class="user-first-name" style="font-size: 24px; font-weight: bold; color: #FF6F61;">{{ review.first_name }}</span>
                                                        <span class="user-second-name" style="font-size: 24px; font-weight: bold; color: #FF6F61;">{{ review.second_name }}</span>
                                                    </div>
                                                    <div class="ratting">
                                                        <i class="{% if review.ratting >= 1 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        <i class="{% if review.ratting >= 2 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        <i class="{% if review.ratting >= 3 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        <i class="{% if review.ratting >= 4 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        <i class="{% if review.ratting >= 5 %}fa{% else %}far{% endif %} fa-star"></i>
                                                    </div>

                                                    <p class="user-review">{{ review.review }}</p>
                                                </div>
                                            {% else %}
                                                <div class="reviews-submitted">
                                                    <div class="reviewer">
                                                        <span class="user-first-name" style="font-size: 24px; font-weight: bold; color: #FF6F61;">{{ review.first_name }}</span>
                                                        <span class="user-second-name" style="font-size: 24px; font-weight: bold; color: #FF6F61;">{{ review.second_name }}</span>
                                                    </div>
                                                    <div class="ratting">
                                                        <i class="{% if review.ratting >= 1 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        <i class="{% if review.ratting >= 2 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        <i class="{% if review.ratting >= 3 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        <i class="{% if review.ratting >= 4 %}fa{% else %}far{% endif %} fa-star"></i>
                                                        <i class="{% if review.ratting >= 5 %}fa{% else %}far{% endif %} fa-star"></i>
                                                    </div>
                                                    <p>
                                                        {{ review.review }}
                                                    </p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                            {% if user.is_authenticated %}
                                            <form action="#" method="post" class="reviews-submit" id="add-review-form">
                                                <h4>Оставьте отзыв:</h4>
                                                    <div class="row form">
                                                        <div class="ratting">
                                                            <div class="wrap">
                                                                <div class="stars">
                                                                    <label class="rate">
                                                                        <input type="radio" name="ratting" id="star1" value="1">
                                                                        <div class="face"></div>
                                                                        <i class="far fa-star star one-star"></i>
                                                                    </label>
                                                                    <label class="rate">
                                                                        <input type="radio" name="ratting" id="star2" value="2">
                                                                        <div class="face"></div>
                                                                        <i class="far fa-star star two-star"></i>
                                                                    </label>
                                                                    <label class="rate">
                                                                        <input type="radio" name="ratting" id="star3" value="3">
                                                                        <div class="face"></div>
                                                                        <i class="far fa-star star three-star"></i>
                                                                    </label>
                                                                    <label class="rate">
                                                                        <input type="radio" name="ratting" id="star4" value="4">
                                                                        <div class="face"></div>
                                                                        <i class="far fa-star star four-star"></i>
                                                                    </label>
                                                                    <label class="rate">
                                                                        <input type="radio" name="ratting" id="star5" value="5">
                                                                        <div class="face"></div>
                                                                        <i class="far fa-star star five-star"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <input type="text" name="first_name" placeholder="Имя" required>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <input type="text" name="second_name" placeholder="Фамилия" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <textarea placeholder="Отзыв" name="review" required></textarea>
                                                        </div>
                                                        <div class="col-sm-12 text-center">
                                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                                            <button id="target">Отправить</button>
                                                        </div>
                                                    </div>
                                             </form>
                                            {% else %}
                                                <h4 style="color: red;">Отзывы могут оставить только зарегестрированные пользователи</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% with related_products=product.get_related_products %}
                            {% if related_products|length > 3 %}
                                <div class="product">
                                    <div class="section-header">
                                        <h1>Похожие товары</h1>
                                    </div>
                                    <div class="row align-items-center product-slider product-slider-3">
                                        {% for product in related_products %}
                                            <div class="col-lg-3">
                                                {% include 'components/product_item.html' %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        {% if related_products %}
                            <!-- Side Bar Start -->
                            <div class="col-lg-4 sidebar">
                                <div class="sidebar-widget widget-slider">
                                    <div class="sidebar-slider normal-slider">
                                        {% for product in related_products %}
                                            {% include 'components/product_item.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- Side Bar End -->
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <!-- Product Detail End -->
{% endblock content %}

{% block script %}
    <script type="application/javascript">
        let login_url = '{{ login_url }}';
    </script>
    <script type="application/javascript" src="{% static 'js/product_detail.js' %}"></script>
{% endblock script %}
