{% load product_tags %}

<div class="product-item">
    <div class="product-title">
        <a href="{{ product.get_absolute_url }}" style="font-size: 12px;">{{ product.title|remove_code_from_product_title }}</a>
        <div class="ratting">
            {% if product.rounded_ratting != 0 %}
            <i class="{% if product.rounded_ratting >= 1 %}fa{% else %}far{% endif %} fa-star"></i>
            <i class="{% if product.rounded_ratting >= 2 %}fa{% else %}far{% endif %} fa-star"></i>
            <i class="{% if product.rounded_ratting >= 3 %}fa{% else %}far{% endif %} fa-star"></i>
            <i class="{% if product.rounded_ratting >= 4 %}fa{% else %}far{% endif %} fa-star"></i>
            <i class="{% if product.rounded_ratting >= 5 %}fa{% else %}far{% endif %} fa-star"></i>
            {% else %}
            <br>
            {% endif %}
        </div>
    </div>
    <div class="product-image-my">
        <a href="{{ product.get_absolute_url }}">
            {% if not image_url %}
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
            {% else %}
                <img src="{{ image_url }}" alt="{{ image_alt }}">
            {% endif %}

            {% if product.color_specifications %}
                <div class="product-colors">
                    <div>{% colors_count_representation product %}</div>
                </div>
            {% endif %}
        </a>
    </div>
    <div class="product-sizes">
        <div class="col text-center">
            {% for size in product.size_specifications %}
                <span>{{ size }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="product-price">
        <div class="col text-center">
            <h3 style="font-size: 24px;">{{ product.price|pretty_price }} грн.</h3>
        </div>
    </div>
</div>
